.RichDocument {
    margin: 10px;
}

.RichDocument .document {
    margin: 0 auto;
    border: 1px solid black;
    height: 640px;
    max-height: 640px;
    width: 540px;
    padding: 11pt;
    overflow: auto;
}

.RichDocument .document:empty::before {
    content: attr(placeholder);
    color: #555;
    font-style: italic;
}

.RichDocument .document:empty:focus::before {
    content: "";
}

.RichDocument .error {
    color: red;
}